* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

.bgc-green {
  background-color: #5ed35c;
  width: 100%;
  height: 100vh;
  padding: 120px 0;
  overflow: hidden;

  form {
    width: 50%;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    outline: 0;
    border: 0;
    border-radius: 15px;


    input,
    button {
      width: 100%;
      height: 50px;
      margin: 0 auto;
      outline: none;
      padding: 3px 10px;
      border-radius: 10px;
      display: block;
      border: 1px solid #000;
    }


    button {
      background-color: #16cd13;
      border: 0;
      cursor: pointer;
    }

  }
}


.table-container {
  background-color: #5ed35c;
  width: 100%;
  height: 100vh;

  .table {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    display: block;
    text-align: center;

  }

}